/* Author: Monroy Vélazquez Alejandra Sarahí */

/* Global styles */
body {
    margin:0;
    padding: 0;
    font-family: 'Poppins';
}

h1 {
    font-family: 'Spectral', serif;
}

a{
    text-decoration: none;
}

/* Header */
#intro {
    background: url(../img/tech-daily.jpg);
    text-align: center;
    height: 50vh;
    margin-top: -60px;
    margin-bottom: 60px;
    background-size: cover;
    background-position: 57% 48%;
}

#intro h1 {
    font-size: 72px;
    color: #ffffff;
    font-weight: normal;
    padding-top: 60px;
}

#intro p {
    color: #bfbfbf;
    font-size: 18px;
    line-height: 36px;
    width: 60%;
    margin: auto;
}

.container { 
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

#intro #refresh {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    background: transparent;
    font-size: 14px;
}

#intro .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* News Section */
.news-container {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.new-card {
    display: flex;
    flex-direction: column;
	width: 300px;
	margin: 15px;
	padding: 10px;
	border: 1px solid rgb(170, 170, 170);
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px #bfbfbf
}

img {
	width: 300px;
    height: 150px;
    border-radius: 4px;
}

.new-card .data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -10px;
    margin-bottom: -20px;
    color: #bfbfbf;
}

.new-card h3, h4 {
    font-style: italic;
    font-size: 14px;
}

.new-card h4 {
    font-size: 13px;
}

.new-card h2 {
    text-align: left;
    font-size: 18px;
    color:#004153
}

.new-card p {
    text-align: justify;
    font-size: 13px;
}

/* Media Queries */
/* Tablet */
@media (max-width: 750px) {
    #intro {
        margin-top: -43px;
        height: 40vh;
    }

    #intro h1{
        font-size: 50px;
    }

    #intro p{
        color: #bfbfbf;
        font-size: 15px;
        line-height: 29px;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    #intro .btn {
        margin: auto;
    }

    .new-card {
        width: 270px;
    }

    .new-card img {
        width: 270px;
    }

    .new-card h2 {
        font-size: 16px;
    }
    .new-card h3, .new-card h4 {
        font-size: 12px;
    }

    .new-card p {
        font-size: 12px;
    }

}

/* Celular */
@media (max-width: 550px) {
    #intro {
        margin-top: -43px;
        height: 30vh;
    }

    #intro h1{
        font-size: 30px;
    }

    #intro p{
        color: #bfbfbf;
        font-size: 12px;
        line-height: 29px;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    #intro #refresh {
        font-size: 12px;
        padding-left: 50px;
        padding-right: 50px;
    }

    img {
        width: 300px;
    }

    .new-card {
        width: 250px;
    }

    .new-card img {
        width: 250px;
    }
}
